
<!--cards made by Bootstrap-->
<div class="container mt-5">
  <h1 class="mb-4 text-center">Upcoming Events</h1>
  <div class="row g-4">
    <% events.forEach(event => { %>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          <img src="<%= event.image %>" class="card-img-top" alt="<%= event.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text">
              <strong>Date:</strong> <%= event.date %><br>
              <strong>Location:</strong> <%= event.location %>
            </p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>


