<!--Home: Welcome message + placeholder for upcoming events (dynamic later)-->

<%- include('../partials/header') %>

<div id="mainHome" class="container text-center mt-5">
  <div class="welcome-container px-5">
    <h1 class="mb-4"><%= heading %></h1>
    <p class="squigly text-warning">\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/</p>
    <p class="py-2 px-5"><%= welcomeParagraph %></p>
    <p class="squigly text-warning">\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/</p>
  </div>

  <div class="card-container justify-content-center d-flex gap-3 flex-wrap">
    <% if (upcomingEvents.length > 0) { %> <% upcomingEvents.forEach(event => {
    %>
    <div class="card shadow-sm hover-shadow" style="width: 270px">
      <img
        src="<%= event.image %>"
        class="card-img-top"
        style="height: 150px"
        alt="<%= event.title %>"
      />
      <div class="card-body bg-dark">
        <h5 class="text-warning" style="font-size: 20px"><%= event.title %></h5>
        <p class="card-text m-0 text-white"><strong class="text-warning">Date:</strong> <%= event.date %></p>
        <p class="card-text m-0 text-white">
          <strong class="text-warning">Location:</strong> <%= event.location %>
        </p>
      </div>
    </div>
    <% }) %> <% } else { %>
    <p>No upcoming events.</p>
    <% } %>
  </div>
</div>

<%- include('../partials/footer') %>
